{% extends 'base.html' %}
{% load static %}

{% block page_content %}


{% load widget_tweaks %}



 <body>

<div class="jumbotron" style="background-color:#a3c2c2">
  <h1 style="font-family: 'Cormorant', serif;"><br><center>Please Login</center></h1>
  

</div>


        <div class="row">
          <div class="col" style="width:30%"></div>
            <div class= "card">
             <a class="nav-link" href= "/login" style="font-size: 30px"> Click  here to login </a>
</div>
            
               <div class="col" style="width:30%"></div></div>
             </div>
                   </body>
      </body>
{% endblock %}